<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>claudius</title>
<style type="text/css">
html {
	background-color: red;
}

.headword, .sense-level, .bold {
  font-weight: bold;
}

.superscript {
  vertical-align: super;
  font-size: 80%;
}

.spacing, .analog, .asoc, .trimitere {
  letter-spacing: 0.3em;
  
}

.quote {
  font-style: italic;
}            
       
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer button {
    margin: 0 20px 10px 0;
}
</style>
</head>
<body>
	<div class="sense-level1">
		<span class="sense-level"> I.</span> <span> Pron. pers. art., învechit şi regional, nearticulat
			(înlocuieşte, de obicei, nume de persoane \nşi, învechit şi regional, mai ales în Mold., şi nume de
			lucruri; pentru unii vorbitori şi cu o nuanţă de politeţe) Ţine locul persoanei despre care se vorbeşte.
		</span> <span class="quote"> citat 2</span> <span class="bibl-ref-id"> ABC MAR.</span> <span class="bibl-ref-id">
			2001</span> <span class="bibl-ref-id">, detalii 2.</span> <span class="quote"> citat 3</span> <span
			class="bibl-ref-id"> ABC MAR.</span> <span class="bibl-ref-id"> 2001</span> <span class="bibl-ref-id">,
			detalii 3.</span>
		<div class="sense-level2">
			<span class="sense-level"> I.1.</span> <span> (La nominativ) El, ea.</span> <span class="quote"> </span>
			<span class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id">,
				.</span>
			<div class="sense-level3">
				<span class="sense-level"> I.1.a)</span> <span> (Cu funcţie de subiect, aşezat înaintea sau, rar,
					în urma predicatului, are rolul de evidenţiere a autorului acţiunii)</span> <span class="quote">
					Tătarii... au dat în urma oştilor celor protivnice şi, agiungându-se în Moldova la pădurea Bacăului,
					dânsele n-au stat la bătaie.</span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span
					class="bibl-ref-id">, .</span> <span class="quote"> Dânsul are să trăiască Şi mulţi ani să
					vieţuiască.</span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span
					class="bibl-ref-id">, .</span> <span class="quote"> Feciorul lui Busuioc ... din când în când îi
					zicea câte-o vorbă, pe care numai dânsa putea s-o înţeleagă.</span> <span class="bibl-ref-id"> </span> <span
					class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span> <span class="quote"> Dar
					iată-i! Dânşii ies Mai mulţii Erau o sută şi-acum ei sunt o mie.</span> <span class="bibl-ref-id"> </span> <span
					class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span> <span class="quote"> Ce
					hotărăşte dânsul, aia e sfânt. </span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span
					class="bibl-ref-id">, .</span>
				<div class="sense-level4">
					<span class="sense-level"> I.1.a.1</span> <span> </span> <span class="quote"> </span> <span
						class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span>
					<div class="sense-level5">
						<span class="sense-level"> I.1.a.1.1</span> <span> </span> <span class="quote"> </span> <span
							class="bibl-ref-id"> ABC MAR.</span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id">,
							.</span>
						<div class="sense-level6">
							<span class="sense-level"> I.1.a.1.1.1</span> <span> definitie cu font tip bold </span> ; ( ) . V. .
							Cf. , . <span class="quote"> citat 1</span> <span class="bibl-ref-id"> ABC</span> <span
								class="bibl-ref-id"> 2000</span> <span class="bibl-ref-id">, detalii 1.</span> <span class="quote">
								citat 2</span> <span class="bibl-ref-id"> ABC MAR.</span> <span class="bibl-ref-id"> mijlocul
								secolului al 12-lea</span> <span class="bibl-ref-id">, volumul 1, pagina 22.</span> <span class="quote">
								citat 3</span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span
								class="bibl-ref-id">, .</span> <span class="quote"> citat 4</span> <span class="bibl-ref-id">
							</span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span> <span class="quote">
								citat 5</span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span
								class="bibl-ref-id">, .</span>
						</div>
						<div class="sense-level6">
							<span class="sense-level"> I.1.a.1.1.2</span> <span> </span> <span class="quote"> </span> <span
								class="bibl-ref-id"> ABC MAR.</span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id">,
								.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="sense-level3">
				<span class="sense-level"> I.1.b)</span> <span> (Aşezat după predicate exprimate prin verbe de
					declaraţie sau în propoziţii incidente, are rolul de a marca insistenţa asupra autorului acţiunii sau
					de a evita repetarea acestuia)</span> <span class="quote"> O, şopteşte-mi - zice dânsul - tu cu ochii
					plini d-eres Dulci cuvinte ne-nţelese, însă pline de-nţeles.</span> <span class="bibl-ref-id"> </span> <span
					class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span> <span class="quote"> Mi-am
					pierdut cumpătul, îşi zise dânsul cu amărăciune.</span> <span class="bibl-ref-id"> </span> <span
					class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span> <span class="quote"> Bietul
					meu Jeannotl exclamă dânsa.</span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span
					class="bibl-ref-id">, .</span> <span class="quote"> Până atunci, cum zice dânsa, ne-o coace.</span> <span
					class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span> <span
					class="quote"> Agapia îl prigonea [pe' Mitrea]. Zicea dânsa: Mai bine îl fătam mânz şi-l mânca
					un lup.</span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id">,
					.</span>
			</div>
			<div class="sense-level3">
				<span class="sense-level"> c)</span> <span> (însoţit de „şi" adverbial, cu funcţia de reluare a
					subiectului)</span> <span class="quote"> Toţi arhiereii lumei şi dânşii sânguri trăbue să se chiame la
					sobor şi să hotărască dogmele credinţii, lăsând pre toţi ceilalţi afară, veri clirici, veri mireni.</span> <span
					class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span> <span
					class="quote"> Şi nu că o iubesc pentru altceva, căci şi dânsa este o muere ca toate celelalte,
					ci numai pentru credinţa şi cinstea ei, lucru cel mai scump din lume la o nevastă cu bărbat.</span> <span
					class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span> <span
					class="quote"> Ioana plângea şi dânsa.</span> <span class="bibl-ref-id"> </span> <span
					class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span> <span class="quote"> Ei vor
					aplauda desigur biografia subţire Care s-o-ncerca s-arăte că n-ai fost vrun lucru mare, C-ai fost om
					cum sunt şi dânşii.</span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span
					class="bibl-ref-id">, .</span>
				<div class="sense-level4">
					<span class="sense-level"> c.1</span> <span> fukuihiuhjok ghiohjnkln </span> <span class="quote">
					</span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id">,
						.</span>
				</div>
				<div class="sense-level4">
					<span class="sense-level"> c.2</span> <span> </span> <span class="quote"> </span> <span
						class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span>
				</div>
			</div>
		</div>
		<div class="sense-level2">
			<span class="sense-level"> I.2.</span> <span> (La genitiv şi dativ; înlocuieşte numele unui
				atribut sau al unui complement indirect) </span> <span class="quote"> Crescând extensia vreunui concept
				scade intensia dânsului, şi scăzându-i intensia, îi creşte extensia.</span> <span class="bibl-ref-id"> </span>
			<span class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span> <span class="quote">
				Urmează ca doamna ministru să descâlcească iţele urât încurcate de predecesorii dânsei.</span> <span
				class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span> <span
				class="quote"> I-am dat dânsului.</span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id">
			</span> <span class="bibl-ref-id">, .</span> <span class="quote"> </span> <span class="bibl-ref-id"> </span> <span
				class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span>
		</div>
		<div class="sense-level2">
			<span class="sense-level"> I.3.</span> <span> (La acuzativ; precedat de diverse prepoziţii,
				înlocuieşte numele unui complement indirect sau circumstanţial sau al unui atribut)</span> <span class="quote">
				Că de la Dumnedzeu e mila multă, de la Dins mântuirea.</span> <span class="bibl-ref-id"> </span> <span
				class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span> <span class="quote"> Intrămu în
				casa lui Filipu ... şi lăcuimu la dinsu. </span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id">
			</span> <span class="bibl-ref-id">, .</span> <span class="quote"> Eu scoşu de la densu spata şi tăiaiu
				capul lui.</span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span
				class="bibl-ref-id">, .</span> <span class="quote"> Atunce aduseră la dâns prunci.</span> <span
				class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span>
		</div>
	</div>
	<div class="sense-level1">
		<span class="sense-level"> II.</span> <span> Subst.</span> <span class="quote"> </span> <span
			class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span>
		<div class="sense-level2">
			<span class="sense-level"> II.2</span> <span> S. m. şi f. (Popular) Soţ1 (2), soţie (3).</span> <span
				class="quote"> Să ştii că dânsu-al meu e supărat!</span> <span class="bibl-ref-id"> </span> <span
				class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span>
		</div>
		<div class="sense-level2">
			<span class="sense-level"> II.2.</span> <span> S. f. (Eufemistic, în credinţele populare, mai ales
				prin Mold.; la pl.) Iele.</span> <span class="quote"> Stăi pe loc, ce, te-au apucat dânsele?</span> <span
				class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span> <span
				class="quote"> Dânsele sau ielele, spun babele, sunt foarte rele. Au putere de a lua cuiva
				minţile ... să-l facă din om neom.</span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id">
			</span> <span class="bibl-ref-id">, .</span>
		</div>
		<div class="sense-level2">
			<span class="sense-level"> II.3.</span> <span> S. f. (Popular; şi în sintagma de dânsele) Boală
				(reumatică) despre care se crede că este provocată de iele.</span> <span class="quote"> Femeile
				ştiutoare din Bucovina spun că această plantă este bună pentru boala: „De-dânsele".</span> <span
				class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span> <span
				class="quote"> fle dânsele" se numeşte un morb în feliul reumatismului, însă, după cum spune
				poporul, e cu mult mai periculos, fiindcă se întinde peste tot corpul.</span> <span class="bibl-ref-id">
			</span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span> <span class="quote"> L-au
				întâlnit... Ele le cu săgetături şi cu ... de Dânsele.</span> <span class="bibl-ref-id"> </span> <span
				class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span>
		</div>
		<div class="sense-level2">
			<span class="sense-level"> II.4.</span> <span> S. f. (Bot; prin Mold. şi prin Bucov.; şi în
				sintagma de dânsele) Numele unor plante erbacee folosite în medicina populară pentru tratarea bolii „de
				dânsele", v. d â n s u 1 (II 3):</span> <span class="quote"> </span> <span class="bibl-ref-id"> </span> <span
				class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span>
			<div class="sense-level3">
				<span class="sense-level"> II.4.a)</span> <span> Equisetum palustre.</span> <span class="quote">
				</span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id">,
					.</span>
			</div>
			<div class="sense-level3">
				<span class="sense-level"> II.4.b)</span> <span> Geranium phaeum.</span> <span class="quote"> </span> <span
					class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id">, .</span>
			</div>
		</div>
		<div class="sense-level2">
			<span class="sense-level"> II.5.</span> <span> S. m. (Popular; eufemistic) Lup (Canis lupus).</span> <span
				class="quote"> Românul din toate unghiurile ţării, când e nevoit să vorbească de lup... zice:
				dânsul, pădurarul sau hoţul.</span> <span class="bibl-ref-id"> </span> <span class="bibl-ref-id"> </span> <span
				class="bibl-ref-id">, .</span>
		</div>
	</div>
	<span> pron pers. subst.| adj. </span>










	<div id="footer">
		<button style="float: right;" onclick="jsWindow.closeDialogWindow();">Close</button>
	</div>
</body>
</html>